#index {
    color: #878f99;
    text-align: center;
}

#index h2 {
    font-size: 3.56rem;
    line-height: 110%;
    margin: 0 !important;
    padding-top: 50px;
}

nav .nav-wrapper {
    position: relative;
    height: 100%;
    background-color: #bdcebe !important;
    color: white;
}

.index-container {
    margin-left: 30px;
    color: #878f99;
}

.brand-logo {
    font-family: 'Londrina Outline', cursive;
    font-weight: bold;
    margin-left: 20px;
}

html {
    font-family: 'Livvic', sans-serif;
}

.description {
    font-size: 1.5rem;
}

main {
    min-height: 50vh;
}

form {
    margin-top: 50px;
}

.meals {
    padding-top: 50px;
}

span.card-title {
    background-color: #d68d057a;
    width: 100%;
    padding: 10px !important;
}

.card-content {
    height: 100px;
}

/* Caption styles */

.caption {
    background-color: rgba(0, 0, 0, 0.1);
}

/* parallax styles */
.grey-text.text-darken-3 {
    color: white !important;
    text-align: center;
}

.font-grey {
    color: #878f99;
}

.header {
    color: #878f99;
    text-align: center;
}


.brown-text {
    color: #bdaa93 !important;
}


/* end of style */



/* end of styles */

.input-field label {
    color: #878f99 !important;
}

textarea.materialize-textarea {
    border-bottom: 1px solid #878f99;
    box-shadow: 0 1px 0 0 #878f99;
}


input[type=text]:not(.browser-default), textarea.materialize-textarea {
    border-bottom: 1px solid #878f99;
    font-size: 13px !important;
}

element.style {
}
.select-wrapper input.select-dropdown {
    border-bottom: 1px solid #878f99;
    font-size: 13px !important;
}

.switch label {
    color: #878f99;
}

textarea.materialize-textarea {
    border-bottom: 1px solid black;
    box-shadow: 0 1px 0 0 black;
}

label.active {
    color: #878f99 !important;
    font-size: 14px !important;
}


.page-footer {
    padding-top: 20px;
    color: #fff;
    background-color: #bdcebe !important;
}

img.responsive-img {
    max-width: 70%;
    height: auto;
}
    

.flashes {
    text-align: center;
    font-size: 2rem;
}


.orange-text.text-lighten-3 {
    color: #bdaa93 !important;
}

.social-media {
    color: #bdaa93;
    margin-left: 8px;
}


/* MEDIA STYLE */

@media (max-width: 768px) {
    nav .brand-logo {
        font-size: 2rem;
    }
}

@media only screen and (min-width: 992px) {
html {
    font-size: 13px;
}

#index {
    min-height: 420px;
}
}
