<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}" type="text/css" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Beth+Ellen&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />
    

    <title>Cookbook</title>
</head>

<body class="container-fluid">
    <nav>
        <div class="nav-wrapper">
            <a href="{{url_for('index')}}" class="brand-logo">Healthy Food</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                {% if session.username %}
                <li>Hello, {{ session.username }}!</li>
                {% endif %}
                <li><a href="{{url_for('vegan')}}">Vegan</a></li>
                <li><a href="{{url_for('vegetarian')}}">Vegetarian</a></li>
                <li><a href="{{url_for('dessert')}}">Diary Free Dessert</a></li>
                {% if not session.username %}
                <li><a href="{{url_for('login')}}">Login</a></li>
                <li><a href="{{url_for('register')}}">Register</a></li>
                {% else %}
                <li><a href="{{url_for('get_my_recipes')}}">My Recipes</a></li>
                <li><a href="{{url_for('logout')}}">Logout</a></li>
                {% endif %}
            </ul>
        </div>
        <ul class="sidenav" id="mobile-demo">
            {% if session.username %}
            <li>Hello, {{ session.username }}!</li>
            {% endif %}
            <li><a href="{{url_for('vegan')}}">Vegan</a></li>
            <li><a href="{{url_for('vegetarian')}}">Vegetarian</a></li>
            <li><a href="{{url_for('dessert')}}">Diary Free Dessert</a></li>
            {% if not session.username %}
            <li><a href="{{url_for('login')}}">Login</a></li>
            <li><a href="{{url_for('register')}}">Register</a></li>
            {% else %}
            <li><a href="{{url_for('get_my_recipes')}}">My Recipes</a></li>
            <li><a href="{{url_for('logout')}}">Logout</a></li>
            {% endif %}
        </ul>
    </nav>

    <div class="container-fluid">
        <main>{% block content %}{% endblock %}</main>
    </div>
    
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Cooking like Grandma at your own place</h5>
                    <p class="grey-text text-lighten-4">Thank You for time spend with us.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Visit us on :</h5>
                    <ul>
                      <li><a class="social-media" href="https://www.facebook.com/" target=_blank>Facebook</a><i class="fa fa-facebook-square"></li>
                      <li><a class="social-media" href="https://www.instagram.com/" target=_blank>Instagram</a><i class="fa fa-instagram"></li>
                      <li><a class="social-media" href="https://www.snapchat.com/" target=_blank>Snapchat</a><i class="fa fa-snapchat-square"></i></li>
                    </ul>
                </div>
            </div>
            <div class="copyright">
                <div class="row">
            © 2019 Copyright Cecilia Barriga - made with <a class="orange-text text-lighten-3" href="https://materializecss.com/" target=_blank>Materialize Css</a>
            </div>
            </div>
        </div>
    </footer>

    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script>
        $(document).ready(function(){
            $('.sidenav').sidenav();
            $('.parallax').parallax();
            $('.carousel').carousel();
            $('.slider').slider();
            $('select').formSelect();
          });
    </script>    
    
</body>
</html>