{% extends 'base.html'%} {% block content %}
<h3>Edit Your Recipe</h3>
<div class="row">

    <div class="row">
        <div class="input-field col s12">
            <i class="material-icons prefix">poll</i>
            <select id="category" name="category_name">
                  <option value="" disabled selected>Choose Category</option>
                  {% for meal in meals %}
                      <option value="{{meal.category_name}}" selected >{{meal.category_name}}</option>
                      {% else %}
                       <option value="{{meal.category_name}}">{{meal.category_name}}</option>
                  
                  {% endfor %}
                </select>
            <label>Category</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <i class="material-icons prefix">assignment</i>
            <input placeholder="" id="dish_name" name="dish_name" type="text" class="validate" data-length="20" value="{{meal.dish_name}}" required>
            <label for="icon_prefix">Meal Name - required</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <i class="material-icons prefix">subject</i>
            <textarea placeholder="" name="dish_description" id="dish_description" class="materialize-textarea" required>{{meal.dish_description}}</textarea>
            <label for="icon_telephone">Meal Description - required</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <i class="material-icons prefix">poll</i>
            <input placeholder="" id="image" name="image" value="{{meal.image}}" type="text" class="validate" data-length="100" required>
            <label for="icon_prefix">Image URL - required</label> {% for image in images %}
            <img src="{{meal.image}}" alt="meal image"> {% endfor %}
        </div>
    </div>
    <div class="row col s12 m12">
        <h5>Ingredients :</h5>
        <div class="input-field col s12 m4">
            <i class="material-icons prefix">subject</i>
            <textarea placeholder="" name="ingredient_one" id="ingredient_one" class="materialize-textarea">{{meal.ingredient_one}}</textarea>
            <label for="icon_telephone">Ingredient 1</label>
        </div>
        <div class="input-field col s12 m4">
            <i class="material-icons prefix">subject</i>
            <textarea placeholder="" name="ingredient_two" id="ingredient_two" class="materialize-textarea">{{meal.ingredient_two}}</textarea>
            <label for="icon_telephone">Ingredient 2</label>
        </div>
        <div class="input-field col s12 m4">
            <i class="material-icons prefix">subject</i>
            <textarea placeholder="" name="ingredient_three" id="ingredient_three" class="materialize-textarea">{{meal.ingredient_three}}</textarea>
            <label for="icon_telephone">Ingredient 3</label>
        </div>
    </div>
    <div class="row col s12 m12">
        <div class="input-field col s12 m4">
            <i class="material-icons prefix">subject</i>
            <textarea placeholder="" name="ingredient_four" id="ingredient_four" class="materialize-textarea">{{meal.ingredient_four}}</textarea>
            <label for="icon_telephone">Ingredient 4</label>
        </div>
        <div class="input-field col s12 m4">
            <i class="material-icons prefix">subject</i>
            <textarea placeholder="" name="ingredient_five" id="ingredient_five" class="materialize-textarea">{{meal.ingredient_five}}</textarea>
            <label for="icon_telephone">Ingredient 5</label>
        </div>
        <div class="input-field col s12 m4">
            <i class="material-icons prefix">subject</i>
            <textarea placeholder="" name="ingredient_six" id="ingredient_six" class="materialize-textarea">{{meal.ingredient_six}}</textarea>
            <label for="icon_telephone">Ingredient 6</label>
        </div>
    </div>
    <div class="row col s12 m12">
        <h5>Steps :</h5>
        <div class="input-field col s12 m4">
            <i class="material-icons prefix">subject</i>
            <textarea placeholder="" name="step_one" id="step_one" class="materialize-textarea">{{meal.step_one}}</textarea>
            <label for="icon_telephone">Step 1</label>
        </div>
        <div class="input-field col s12 m4">
            <i class="material-icons prefix">subject</i>
            <textarea placeholder="" name="step_two" id="step_two" class="materialize-textarea">{{meal.step_two}}</textarea>
            <label for="icon_telephone">Step 2</label>
        </div>
        <div class="input-field col s12 m4">
            <i class="material-icons prefix">subject</i>
            <textarea placeholder="" name="step_three" id="step_three" class="materialize-textarea">{{meal.step_three}}</textarea>
            <label for="icon_telephone">Step 3</label>
        </div>
    </div>
    <div class="row col s12 m12">
        <div class="input-field col s12 m4">
            <i class="material-icons prefix">subject</i>
            <textarea placeholder="" name="step_four" id="step_four" class="materialize-textarea">{{meal.step_four}}</textarea>
            <label for="icon_telephone">Step 4</label>
        </div>
        <div class="input-field col s12 m4">
            <i class="material-icons prefix">subject</i>
            <textarea placeholder="" name="step_five" id="step_five" class="materialize-textarea">{{meal.step_five}}</textarea>
            <label for="icon_telephone">Step 5</label>
        </div>
        <div class="input-field col s12 m4">
            <i class="material-icons prefix">subject</i>
            <textarea placeholder="" name="step_six" id="step_six" class="materialize-textarea">{{meal.step_six}}</textarea>
            <label for="icon_telephone">Step 6</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 m6">
            <i class="material-icons prefix">timelapse</i>
            <textarea placeholder="" name="cook_time" id="cook_time" class="materialize-textarea">{{meal.cook_time}}</textarea>
            <label for="icon_telephone">Cooking Time</label>
        </div>
        <div class="input-field col s12 m6">
            <i class="material-icons prefix">timer</i>
            <textarea placeholder="" name="prep_time" id="prep_time" class="materialize-textarea">{{meal.prep_time}}</textarea>
            <label for="icon_telephone">Preparation Time</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <i class="material-icons prefix">subject</i>
            <textarea name="author" id="author" class="materialize-textarea">{{ meal.author }}</textarea>
            <label for="icon_telephone">Author</label>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <a class="btn waves-effect waves-light" name="action" href="/get_my_recipes">Go Back without Saving <i class="fa fa-arrow-circle-left"></a>
        <a class="btn waves-effect waves-light" name="action" href="{{url_for('update_recipe', meal_id=meal._id)}}">Edit <i class="fa fa-save"></a>

    </div>

</div>

{% endblock %}
