{% extends 'base.html'%} 
{% block content %}
<div class="parallax">
    <div class="index-container">
        <h1>Healthy Food Ideas</h1>
        <h3>Grandma's healthy cookbook</h3>
       <p class="index">Welcome to Healthy Food Ideas!<br>A place where You can find superb healthy recipes.<br>
                                                    If you are happy with Your experience on site we highly recommend to put Your ideas here as well.<br>
                                                    Simply <a class="orange-text text-lighten-3" href="{{url_for('login')}}">Login</a> or <a class="orange-text text-lighten-3" href="{{url_for('register')}}">Register</a> to place Your recipe.</p>
    </div>
</div>
{% endblock %}