{% extends 'base.html'%} 
{% block content %}
<div class="container-fluid" id="index">
    <h2>Welcome to our healthy cookbook!</h2>
    <h4>Here you can find great recipe ideas</h4>
     <p class="index">All recipes are healthy<br>You can find vegan, vegetarian and diary free desserts recipes here!<br>
                                                    You can also upload and share your ideas with everyone, as we are all food lovers<br>
                                                    Simply <a class="orange-text text-lighten-3" href="{{url_for('login')}}">Login</a> or <a class="orange-text text-lighten-3" href="{{url_for('register')}}">Register</a> to add your recipes.</p>
</div>
{% endblock %}