{% extends 'base.html'%}
{% block content %}
<div class="container-fluid back">
    <div class="container">
        <div class="row meals">
            {% for meal in meals %}
            {% if meal.category_name == "vegan" %}
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ meal.image }}">
                        <span class="card-title"><strong>{{ meal.dish_name }}</strong></span>
                        <a href="{{url_for('recipe', meal_id=meal._id)}}" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">info_outline</i></a>
                    </div>
                    <div class="card-content">
                        <p>{{ meal.short_describe }}</p>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}